<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lab.reserve.mapper.DeviceCategoryMapper">
    <select id="selectList" resultType="com.lab.reserve.entity.DeviceCategory">
        SELECT id, category_name, description, create_time, update_time FROM device_category ORDER BY id
    </select>
    <select id="selectById" resultType="com.lab.reserve.entity.DeviceCategory">
        SELECT id, category_name, description, create_time, update_time FROM device_category WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.lab.reserve.entity.DeviceCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO device_category(category_name, description) VALUES(#{categoryName}, #{description})
    </insert>
    <update id="updateById" parameterType="com.lab.reserve.entity.DeviceCategory">
        UPDATE device_category
        <set>
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="description != null">description = #{description},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM device_category WHERE id = #{id}
    </delete>
</mapper>
