<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lab.reserve.mapper.EnergyMeterMapper">
    <select id="selectList" resultType="com.lab.reserve.entity.EnergyMeter">
        SELECT m.*,
               (SELECT ed.value FROM energy_data ed WHERE ed.meter_id = m.id ORDER BY ed.collect_time DESC LIMIT 1) AS current_value
        FROM energy_meter m
        ORDER BY m.id
    </select>
    <select id="selectById" resultType="com.lab.reserve.entity.EnergyMeter">
        SELECT m.*,
               (SELECT ed.value FROM energy_data ed WHERE ed.meter_id = m.id ORDER BY ed.collect_time DESC LIMIT 1) AS current_value
        FROM energy_meter m
        WHERE m.id = #{id}
    </select>
</mapper>
